<div class="text-center my-4">
<h1>Login a Tucuman Empanadas</h1>
</div>

<section class="form_container text-center"> 
    <form id="loginForm">
    <div class="row mb-2">
        <label for="userEmail" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-10">
        <input type="email" class="form-control" name="email" placeholder="Email del usuario" required>
    </div></div>
        <div class="row mb-2">
        <label for="userPassword" class="col-sm-2 col-form-label">Password:</label>
        <div class="col-sm-10">
        <input type="password" class="form-control" name="password" placeholder="Password del usuario" required>
    </div></div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>